.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 3rem;
    color: black;
    background-color: whitesmoke;
    box-shadow: -2px 2px 4px rgb(76, 76, 76);
    gap: 2rem;
    flex-wrap: wrap;
    .museum-logo {
        cursor: pointer;

    }
    .links {
        display: flex;
        justify-content: space-between;
        gap: 2rem;
        flex-wrap: wrap;
        > * {
            text-decoration: none;
            color: black;
        }
    }
}

@media (max-width: 660px) {
    .header {
        justify-content: center;
        text-align: center;
        .links {
            justify-content: center;
        }
    }
}
